/* styles/Footer.module.css */
.footer {
  background-color: #d83428;
  padding: 2rem 1rem;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-top: 1px solid #e0e0e0;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footerLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: .9rem;
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
  transition: all 0.1s;
}

.footerLink:hover {
  color: #3f0c08;
  scale: 1.05;
  /* border-radius: 30px; */
}

.paymentSection {
  text-align: center;
  margin-top: 1rem;
}

.paymentText {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.paymentLogos {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.paymentLogo {
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  margin-top: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footerLinks {
    gap: 1rem;
  }
  
  .paymentLogos {
    gap: 1rem;
  }
}